ENDPOINT=/abs/path/to/backups/dir
MYSQL_ENDPOINT=mysql
BARE_REPOS_ENPOINT=git_repos
FEDORA_ENDPOINT=fedora

MYSQL_USER=root
MYSQL_PASS=123123123
MYSQL_CONTAINER=colenda_db_1
MYSQL_DB=colenda_db

BARE_REPOS_ORIGIN=/abs/path/to/bare/repos/on/host

HOSTNAME=domain.upenn.library.int
FEDORA_CONTAINER=fcrepodev_fcrepo_1

export ENDPOINT;
export MYSQL_ENDPOINT;
export BARE_REPOS_ENDPOINT;
export FEDORA_ENDPOINT;

export MYSQL_USER;
export MYSQL_PASS;
export MYSQL_CONTAINER;
export MYSQL_DB;

export BARE_REPOS_ORIGIN;

export HOSTNAME;
export FEDORA_CONTAINER;